@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Terms.DuplicateModel

@{
    ViewData["Title"] = $"Duplicate {Model.SourceTermName}";
}

<h1>Duplicate</h1>

<h4>Term</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Term.Name" class="control-label">New Name</label>
                <input asp-for="Term.Name" class="form-control"/>
                <span asp-validation-for="Term.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Duplicate" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<hr/>
<h4 class="mb-0">Parts of Term</h4>
<small>These can edited afterwards.</small>
<div class="mb-2"></div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Term.TermParts[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term.TermParts[0].StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term.TermParts[0].EndDate)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Term.TermParts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}