@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Buildings.EditModel

@{
    ViewData["Title"] = $"Edit {Model.Building.Name}";
}

<h1>Edit</h1>

<h4>Building</h4>
<hr />
@if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Building.Id" />
            <div class="form-group">
                <label asp-for="Building.Code" class="control-label"></label>
                <input asp-for="Building.Code" class="form-control" />
                <span asp-validation-for="Building.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building.Name" class="control-label"></label>
                <input asp-for="Building.Name" class="form-control" />
                <span asp-validation-for="Building.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Building.IsEnabled" /> @Html.DisplayNameFor(model => model.Building.IsEnabled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr/>
<h4>Rooms</h4>
<p>
    <a asp-page="./Rooms/Create" asp-route-buildingId="@Model.Id">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rooms[0].Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms[0].Capacity)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Rooms)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-page="./Rooms/Details" asp-route-id="@item.Id" asp-route-returnUrl="@Url.Action("")">Details</a> |
                <a asp-page="./Rooms/Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Rooms/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
