@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Courses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr/>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.Department)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.Department.Code)
            </td>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.Subject)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.Subject.Code)
            </td>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.Number)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.Number)
            </td>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.Title)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.Title)
            </td>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.CreditHours)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.CreditHours)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Course Levels
            </th>
            <td>
                @if (Model.Course.IsUndergraduate)
                {
                    @Html.DisplayNameFor(model => model.Course.IsUndergraduate)
                    <br/>
                }
                @if (Model.Course.IsGraduate)
                {
                    @Html.DisplayNameFor(model => model.Course.IsGraduate)
                }
            </td>
        </tr>
        <tr>
            <th scope="row">
                Schedule Types
            </th>
            <td>
                @foreach (var cst in Model.Course.CourseScheduleTypes)
                {
                    @cst.ScheduleType.Name
                    <br/>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">
                Course Attributes
            </th>
            <td>
                @foreach (var cat in Model.Course.CourseCourseAttributes)
                {
                    @cat.CourseAttribute.Name
                    <br/>
                }
            </td>
        </tr>
        </tbody>
    </table>

    <form method="post">
        <input type="hidden" asp-for="Course.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>