@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Courses.DetailsModel

@{
    ViewData["Title"] = $"{Model.Course.Identifier} Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Department.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Subject.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CreditHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CreditHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.IsUndergraduate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.IsUndergraduate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.IsGraduate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.IsGraduate)
        </dd>
        <dt class="col-sm-12">Schedule Types</dt>
        <dd class="col-sm-12">
            <ul>
                @foreach (var cst in Model.Course.CourseScheduleTypes)
                {
                    <li><a asp-page="../ScheduleTypes/Detail" asp-route-id="@cst.ScheduleTypeId">@cst.ScheduleType.Name</a></li>
                }
            </ul>
        </dd>
        <dt class="col-sm-12">Course Attributes</dt>
        <dd class="col-sm-12">
            <ul>
                @foreach (var cca in Model.Course.CourseCourseAttributes)
                {
                    <li><a asp-page="../CourseAttributes/Detail" asp-route-id="@cca.CourseAttributeId">@cca.CourseAttribute.Name</a></li>
                }
            </ul>
        </dd>
        <dt class="col-sm-12">Instructors</dt>
        <dd class="col-sm-12">
            <ul>
                @foreach (var i in Model.Instructors)
                {
                    <li><a asp-page="../Instructors/Details" asp-route-id="@i.Id">@i.FullName</a></li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Course.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>