@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr/>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.Department)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.Department.Code)
            </td>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.Subject)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.Subject.Code)
            </td>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.Number)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.Number)
            </td>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.Title)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.Title)
            </td>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Course.CreditHours)
            </th>
            <td>
                @Html.DisplayFor(model => model.Course.CreditHours)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Course Levels
            </th>
            <td>
                @if (Model.Course.IsUndergraduate)
                {
                    @Html.DisplayNameFor(model => model.Course.IsUndergraduate)
                    <br/>
                }
                @if (Model.Course.IsGraduate)
                {
                    @Html.DisplayNameFor(model => model.Course.IsGraduate)
                }
            </td>
        </tr>
        <tr>
            <th scope="row">
                Schedule Types
            </th>
            <td>
                @foreach (var cst in Model.Course.CourseScheduleTypes)
                {
                    @cst.ScheduleType.Name
                    <br/>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">
                Course Attributes
            </th>
            <td>
                @foreach (var cat in Model.Course.CourseCourseAttributes)
                {
                    @cat.CourseAttribute.Name
                    <br/>
                }
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Course.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>