<ul class="nav nav-pills flex-column">
    <!--List of navigation buttons/links implementation-->
    <li class="nav-item">
        <a class="nav-link @DocsNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Overview</a>
    </li>

    <!--I'm not sure if the reference is correct on these. There's no NavClass, like in the one above-->
    <li class="nav-item">
        <a class="nav-link @DocsNavPages.MainMenu(ViewContext)" asp-page="./MainMenu">Main Menu</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Settings(ViewContext)" asp-page="./Settings">User Settings</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.AddManage(ViewContext)" asp-page="./AddManage">Add/Manage</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Term(ViewContext)" asp-page="./Term">Term</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Methods(ViewContext)" asp-page="./Methods">Instructional Methods</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Courses(ViewContext)" asp-page="./Courses">Courses</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Subjects(ViewContext)" asp-page="./Subjects">Subjects</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Schedule(ViewContext)" asp-page="./Schedule">Schedule Types</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Attributes(ViewContext)" asp-page="./Attributes">Other Attributes</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Buildings(ViewContext)" asp-page="./Buildings">Buildings</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Rooms(ViewContext)" asp-page="./Rooms">Rooms</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Users(ViewContext)" asp-page="./Users">Users</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @DocsNavPages.Groups(ViewContext)" asp-page="./Groups">Groups</a>
    </li>
</ul>
