@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Users.DetailsModel

@{
    ViewData["Title"] = $"{Model.UserModel.UserName} Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.IsLockedOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.IsLockedOut)
        </dd>
        <dt class="col-sm-12">Departments</dt>
        <dd class="col-sm-12">
            <ul>
                @foreach (var du in Model.UserModel.DepartmentUsers)
                {
                    <li><a asp-page="../Departments/Details" asp-route-id="@du.DepartmentId">@du.Department.Name</a></li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
