@page
@model CourseSchedulingSystem.Pages.Manage.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-page="Create">Add User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].IsLockedOut)
            </th>
            <th>
                Departments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLockedOut)
            </td>
            <td>
                <ul>
                @foreach (var departmentUser in item.DepartmentUsers)
                {
                    <li>@departmentUser.Department.Name</li>
                }
                </ul>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
