@page
@model CourseSchedulingSystem.Pages.Manage.IndexModel
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Administration</h1>
<hr/>
@foreach (var panelSection in Model.Sections)
{
    <div class="card mb-4">
        <div class="card-header bg-info text-white">
            @panelSection.Title
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var row in panelSection.Rows)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <p class="mb-0">@row.Title</p>
                        @if (row.Description != null)
                        {
                            <small>@row.Description</small>
                        }
                    </div>
                    @if (row.AddLink != null || row.ManageLink != null)
                    {
                        <span>
                            @if (row.AddLink != null)
                            {
                                <a href="@row.AddLink" class="btn btn-outline-success"><i class="fa fa-plus"></i> Add</a>
                            }
                            @if (row.ManageLink != null)
                            {
                                <a href="@row.ManageLink" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i> Manage</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span>
                            <a href="#" class="btn btn-outline-success disabled"><i class="fa fa-plus"></i> Add</a>
                            <a href="#" class="btn btn-outline-primary disabled"><i class="fa fa-pencil-alt"></i> Manage</a>
                        </span>
                    }
                </li>
            }
        </ul>
    </div>
}