@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.ScheduleTypes.DetailsModel

@{
    ViewData["Title"] = "Schedule Type Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule Type</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.ScheduleType.Code)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.ScheduleType.Code)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.ScheduleType.Name)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.ScheduleType.Name)
        </dd>
        <dt class="col-sm-12">Courses</dt>
        <dd class="col-sm-12">
            <ul>
                @foreach (var cst in @Model.ScheduleType.CourseScheduleTypes)
                {
                    <li><a asp-page="../Courses/Details" asp-route-id="@cst.CourseId">@cst.Course.Identifier - @cst.Course.Title</a></li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>