@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Terms.TermParts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.TermPart.Term.Name</h4>
    <h4>Part of Term</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TermPart.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TermPart.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TermPart.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TermPart.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TermPart.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TermPart.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TermPart.Id">Edit</a> |
    <a asp-page="./Index" asp-route-termId="@Model.TermPart.TermId">Back to List</a>
</div>