@page
@model CourseSchedulingSystem.Pages.Manage.Terms.TermParts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<a class="float-right" asp-page="../Index"><i class="fa fa-angle-double-left"></i> Back to Terms</a>

<h1>@Model.Term.Name</h1>
<h2>Parts of Term</h2>

<p>
    <a asp-page="Create" asp-route-termId="@Model.Term.Id">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TermPart[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermPart[0].StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermPart[0].EndDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.TermPart)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>