@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.CourseSections.DetailsModel

@{
    ViewData["Title"] = $"{Model.CourseSection.TermPart.Term.Name} - {Model.CourseSection.Course.Identifier} {Model.CourseSection.Section} Details";
}

<h1>Details</h1>

<div>
    <h4>
        <a asp-page="../Terms/Details" asp-route-id="@Model.CourseSection.TermPart.TermId">
            @Model.CourseSection.TermPart.Term.Name
        </a>
        -
        <a asp-page="../Courses/Details" asp-route-id="@Model.CourseSection.CourseId">
            @Model.CourseSection.Course.Identifier
        </a>
        @Html.DisplayFor(model => model.CourseSection.Section)
    </h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseSection.TermPartId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseSection.TermPart.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseSection.TermPart.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseSection.TermPart.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseSection.TermPart.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseSection.TermPart.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseSection.ScheduleTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseSection.ScheduleType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseSection.InstructionalMethodId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseSection.InstructionalMethod.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseSection.MaximumCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseSection.MaximumCapacity)
        </dd>
    </dl>
    <div class="row">
        <div class="col-sm-12">
            <h5>Scheduled Meeting Times</h5>
        </div>
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseSection.ScheduledMeetingTimes[0].MeetingTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseSection.ScheduledMeetingTimes[0].StartTimeText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseSection.ScheduledMeetingTimes[0].EndTimeText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseSection.ScheduledMeetingTimes[0].DaysOfWeek)
                    </th>
                    <th>Instructor</th>
                    <th>Location</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.CourseSection
                    .ScheduledMeetingTimes
                    .OrderBy(smt => smt.MeetingType.Code)
                    .ThenBy(smt => smt.StartTime)
                    .ThenBy(smt => smt.EndTime))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetingType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTimeText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTimeText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DaysOfWeek)
                        </td>
                        <td>
                            @item.InstructorsText
                        </td>
                        <td>
                            @item.RoomsText
                        </td>
                        <td>
                            <a asp-page="./ScheduledMeetingTimes/Details" asp-route-id="@item.Id" asp-route-returnUrl="@Url.Action("")">Details</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-page="./Index" asp-route-termId="@Model.CourseSection.TermPart.TermId">Back to List</a>
</div>