@page
@model CourseSchedulingSystem.Pages.Manage.RoomRoomCapabilities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomRoomCapability[0].RoomCapability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomRoomCapability[0].Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoomRoomCapability) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCapability.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
